*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #ededed;
}

body {
    background: #081b29;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}


.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active  {
    color: #00abf0;

}

.home {
    height: 100vh;
    background: #081b29;
    display: flex;
    align-items: center;
    padding: 0 10%;
    position: relative; 
}

.home-image-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    width: 40%; 
    max-height: 80vh; 
    border: 5px solid #00abf0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}

.home-image {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}

.home-content {
    max-width: 600px;

}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before {
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;

}

.home-content h3::before {
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
    
}

.home-content p::before {
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-content .btn-box::before {
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #00abf0;
    
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;

}

.btn-box a:nth-child(2):hover {
    color: #081b29;

}

.btn-box a:nth-child(2)::before {
    background: #00abf0;

}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;

}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci::before {
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

@keyframes showRight {
    100% {
        width: 0;
    }
}

.about { 
    background-size: cover;
    background-attachment: fixed; 
    background-position: center;
    padding: 100px 0; 
    text-align: center;
    color: #ededed;
}

.about-content {
    max-width: 600px;
    margin: 0 auto;
}


.about-content h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.web-development {
    background-size: cover;
    padding: 100px 0;
    text-align: center;
    color: #fff;
}

.web-development h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.activity {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.activity h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.activity p {
    font-size: 16px;
}


.web-development {
    background-attachment: fixed;
    background-position: center;
}

.web-development {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 100px 0;
    text-align: center;
    color: #fff;
}

.web-dev-content {
    max-width: 800px;
    margin: 0 auto;
}

.web-development h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #00abf0; 
}

.activity {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: left; 
}

.activity h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff; 
}

.activity p {
    font-size: 16px;
    color: #ededed; 
}

.activity {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: left;
    position: relative; 
}

.activity h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
}

.activity p {
    font-size: 16px;
    color: #ededed;
}



.activity button {
    background-color: #00abf0;
    color: #081b29;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.activity button:hover {
    background-color: #081b29;
    color: #00abf0;
}

.about {

    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 100px 0;
    text-align: center;
    color: #ededed;
}

.about-content {
    max-width: 600px;
    margin: 0 auto;
}

.about-content h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.about-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.about h1 {
    color: #00abf0; 
}

.about-content p {
    color: #fff; 
}



.about-content {
    border: 2px solid #00abf0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 40px;
}

.about-content h1::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #00abf0;
    margin: 10px auto;
}


@media (max-width: 768px) {
    .about-right {
        margin-top: 10px;
    }
}

/* Style for the "Personal Story" section */
.about-right {
    background-color: #0077b6; /* Background color */
    padding: 20px; /* Add padding for spacing */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
    margin-top: 20px; /* Adjust top margin as needed */
    color: #fff; /* Text color */
    border: 1px solid #d1d1d1; /* Add a light border */
}

.about-right h2 {
    font-size: 24px; /* Heading font size */
    color: #fff; /* Heading text color */
    margin-bottom: 10px; /* Spacing below heading */
}

.about-right p {
    font-size: 16px; /* Paragraph font size */
    line-height: 1.6; /* Line height for readability */
    color: #f9f9f9; /* Paragraph text color */
    margin-bottom: 15px; /* Spacing below paragraphs */
}

.about-right button {
    padding: 10px 20px; /* Button padding */
    background-color: #f9f9f9; /* Button background color */
    color: #0077b6; /* Button text color */
    border: none; /* Remove button border */
    border-radius: 5px; /* Rounded button corners */
    cursor: pointer; /* Add cursor pointer on hover */
    transition: background-color 0.3s ease; /* Smooth button hover transition */
}

.about-right button:hover {
    background-color: #00557e; /* Button background color on hover */
}

/* Media query for responsiveness on smaller screens */
@media (max-width: 768px) {
    .about-right {
        margin-top: 10px; /* Adjust top margin for smaller screens */
    }
}




